@import url("../../styles/_colors.css");
@import url("../../styles/_spacings.css");
@import url("../../styles/_sizes.css");

.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid $medium_gray;

    &:last-of-type {
        border: 0;
        margin-bottom: $spacing_xxxl;
    }
}

.input {
    border: 0;
    color: $gray;
    cursor: pointer;
    outline: 0;
    text-align: right;


    &::placeholder {
        text-align: right;
    }

    &:focus {
        &::placeholder {
            color: transparent;
        }
    }
}

.text {
    padding: $spacing_s 0;
    margin: 0;
    font-size: $font_size_m;
    line-height: $title_line_height_s;
}

.fieldName {
    color: $black;
}

.fieldValue {
    color: $gray;
}