@import url('../../styles/_colors.css');
@import url('../../styles/_spacings.css');
@import url('../../styles/_sizes.css');

$input-height: 32px;

.searchForm {
  position: relative;

  display: flex;
}

.input {
  height: $input-height;
  padding: $spacing-s $spacing-l;

  background-color: $dark-gray;
  border: 0;
  border-radius: 5px;
  outline: none;
}

.placeholderContainer {
  position: absolute;
  top: 50%;
  right: 50%;

  display: flex;

  gap: $spacing-3xs;

  align-items: center;

  transform: translate(50%, -50%);
}

.placeholderIcon {
  width: $spacing-l;
  height: $spacing-l;

  background: url("../../../images/icons/loupe.svg");
}

.placeholderText {
  font-size: $font-size-s;
  line-height: $line-height-s;
  color: $gray;
}

.searchBar {
  width: 100%;

  text-align: center;


  &:focus::placeholder {
    color: transparent;
  }

  &:focus + .placeholderContainer {
    display: none;
  }
}


