@import url('../../styles/_colors.css');
@import url('../../styles/_sizes.css');

$back-button-size: 28px;
$form-button-width: 280px;
$form-button-height: 37px;
$form-button-border-radius: 8px;

.button {
    border: 0;
    cursor: pointer;
    outline: 0;
}

.backButton {
    width: $back-button-size;
    height: $back-button-size;
    border-radius: 50%;
    background: url("../../../images/icons/arrow_back_button.svg") no-repeat;
}

.formButton {
    width: $form-button-width;
    height: $form-button-height;
    border-radius: $form-button-border-radius;
    background-color: $blue;
    color: $white;
    font-size: $font_size_m;
    justify-self: center;
    line-height: $title_line_height_s;
}