@import url('../../styles/_colors.css');
@import url('../../styles/_sizes.css');

$back-button-size: 28px;
$form-button-width: 280px;
$form-button-height: 37px;
$form-button-border-radius: 8px;

.button {
  font-family: Inter, sans-serif;

  cursor: pointer;

  border: 0;
  outline: 0;
}

.backButton {
  width: $back-button-size;
  height: $back-button-size;

  background: url("../../../images/icons/arrow_back_button.svg") no-repeat;
  border-radius: 50%;
}

.formButton {
  justify-self: center;

  width: $form-button-width;
  height: $form-button-height;

  font-size: $font-size-m;
  line-height: $title-line-height-s;
  color: $white;

  background-color: $blue;
  border-radius: $form-button-border-radius;
}
