<html lang="en">
<body>
<h1>
    Settings
</h1>
<nav>
    <ul>
        <a href="/register"><h2>Register</h2></a>
        <a href="/chat"><h2>Chat list</h2></a>
        <a href="/login"><h2>Login</h2></a>
        <a href="/error"><h2>Error</h2></a>

    </ul>
</nav>

</body>
</html>