<html lang="en">
<body>
<h1>
    Settings
</h1>
<nav>
    <ul>
        <li><a href="/register"><h2>Register</h2></a></li>
        <li><a href="/chat"><h2>Chat list</h2></a></li>
        <li><a href="/login"><h2>Login</h2></a></li>
        <li><a href="/error"><h2>Error</h2></a></li>
    </ul>
</nav>
</body>
</html>