@import url("../../styles/_colors.css");
@import url("../../styles/_spacings.css");
@import url("../../styles/_sizes.css");

.container {
  display: flex;

  justify-content: space-between;

  width: 100%;

  border-bottom: 1px solid $medium-gray;

  &:last-child {
    border: 0;
  }
}

.text {
  padding: $spacing-s 0;
  margin: 0;

  font-size: $font-size-m;
  line-height: $title-line-height-s;
}

.fieldName {
  color: $black;
}

.fieldValue {
  color: $gray;
}
