@import url("../../styles/_sizes.css");
@import url("../../styles/_spacings.css");
@import url("../../styles/_colors.css");

.container {
  text-align: center;
}

.title {
  margin: 0 0 $spacing-l 0;

  font-size: $title-font-size-xl;
  font-weight: 500;
  line-height: $title-line-height-xl;
  color: $black;
}

.description {
  margin: 0 0 $spacing-5xl 0;

  font-size: $title-font-size-l;
  line-height: $title-line-height-l;
  color: $black;
}
