@import url("../../styles/_colors.css");
@import url("../../styles/_spacings.css");
@import url("../../styles/_sizes.css");

.container {
  box-sizing: border-box;

  width: 100%;
  height: 100%;
  padding: $spacing-l 0 0 0;

  background: $light-gray;
  border-right: 1px solid $medium-gray;
}


.profileLink {
  display: flex;

  flex-direction: row;

  justify-content: right;

  margin-bottom: $spacing-xl;

  text-decoration: none;
}

.profileLinkText {
  display: flex;

  gap: $spacing-xs;

  align-items: center;
  justify-content: center;

  font-size: $font-size-s;
  line-height: $line-height-s;
  color: $gray;

  &::after {
    width: 12px;
    height: 8px;

    content: '';

    background: url("../../../images/icons/arrow_right.svg") no-repeat center;
    background-size: cover;
    outline: none;
  }
}

.chatListHeader {
  padding: 0 $spacing-s;
  margin-bottom: $spacing-ml;
}

.chatList {
  padding: 0;
  margin: 0;

  list-style: none;
}


