@import url("../../styles/_colors.css");
@import url("../../styles/_spacings.css");
@import url("../../styles/_sizes.css");

.link {
    text-decoration: none;
    border-bottom: 1px solid $medium_gray;
    padding: $spacing_s 0;
    font-size: $font_size_m;
    line-height: $title_line_height_s;
    color: $blue
}

.red {
    color: $red;
}