$font_size_xxs: 9px;
$font_size_xs: 11px;
$font_size_s: 12px;
$font_size_m: 13px;

$title_font_size_s: 15px;
$title_font_size_m: 16px;
$title_font_size_l: 20px;

$line_height_s: 12px;
$line_height_m: 15px;

$title_line_height_s: 13px;
$title_line_height_m: 16px;
$title_line_height_l: 20px;
