$font-size-xxxs: 8px;
$font-size-xxs: 9px;
$font-size-xs: 11px;
$font-size-s: 12px;
$font-size-m: 13px;

$title-font-size-l: 20px;
$title-font-size-xl: 40px;

$line-height-xxs: 9px;
$line-height-xs: 11px;
$line-height-s: 12px;
$line-height-m: 15px;

$title-line-height-s: 13px;
$title-line-height-l: 20px;
$title-line-height-xl: 40px;
