$spacing_xxxxs: 1px;
$spacing_xxxs: 4px;
$spacing_xxs: 6px;
$spacing_xs: 8px;
$spacing_s: 10px;
$spacing_m: 12px;
$spacing_ml: 14px;
$spacing_mxl: 16px;
$spacing_l: 20px;
$spacing_xl: 25px;
$spacing_xxl: 30px;
$spacing_3xl: 40px;
$spacing_4xl: 50px;
$spacing_5xl: 60px;
$spacing_6xl: 97px;