@import url('../../styles/_colors.css');
@import url('../../styles/_spacings.css');
@import url('../../styles/_sizes.css');

$avatar-size: 34px;
$header-button-width: 3px;
$header-button-height: 16px;
$attach-button-size: 32px;

.form {
    display: grid;

    grid-template-columns: 1fr max-content;

    gap: $spacing-s;
}

.avatar {
    width: $avatar-size;
    height: $avatar-size;

    background-color: $dark-gray;
    border-radius: 50%;
}

.header {
    display: flex;

    align-items: center;

    justify-content: space-between;

    padding-bottom: $spacing-s;

    border-bottom: 1px solid $medium-gray;
}

.headerButton {
    width: $header-button-width;
    height: $header-button-height;
    padding: 0;

    cursor: pointer;

    background: transparent url("../../../images/icons/points.svg") no-repeat;
    border: 0;
}

.profileContainer {
    display: flex;

    gap: $spacing-s;

    align-items: center;
}

.title {
    padding: 0;
    margin: 0;

    font-size: $font-size-m;
    font-weight: 600;
    line-height: $title-line-height-s;

    color: $black;
}

.container {
    display: grid;

    grid-template-rows: max-content 1fr max-content;
    grid-template-columns: 100%;

    height: 100vh;
    padding: $spacing-s $spacing-l;
}


.footer {
    display: grid;

    grid-template-rows: max-content;
    grid-template-columns: max-content 1fr;

    gap: $spacing-s;

    align-items: center;

    padding-top: $spacing-s;
}

.attachButton {
    width: $attach-button-size;
    height: $attach-button-size;

    cursor: pointer;

    background: url("../../../images/icons/scrap_icon.svg") no-repeat;
    border: 0;
}
