@import url("../../styles/_colors.css");

$back-button-container-width: 64px;

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $back-button-container-width;
    height: 100vh;
    border-right: 1px solid $medium_gray;
    background-color: $light_gray;
}