@import url('../../styles/_colors.css');
@import url('../../styles/_spacings.css');
@import url('../../styles/_sizes.css');

$card-with: 310px;
$avatar-width: 47px;
$info-width: 20px;
$text-height: 30px;
$text-width: 193px;
$notification-size: 20px;
$line-width: 290px;

.line {
  width: $line-width;
  height: 1px;
  margin: $spacing-4xs $spacing-s $spacing-4xs $spacing-s;

  background: $medium-gray;
}

.container {
  display: grid;

  grid-template-rows: 100%;
  grid-template-columns: $avatar-width  $text-width $info-width;

  column-gap: $spacing-s;

  width: $card-with;
  padding: $spacing-m $spacing-s;

  cursor: pointer;

}

.containerActive {
  background-color: $light-blue;
}

.textContainer {
  display: flex;

  flex-direction: column;
}

.title {
  padding: 0;
  margin: 0 0 $spacing-3xs 0;

  font-size: $font-size-m;
  font-style: normal;
  font-weight: 600;
  line-height: $title-line-height-s;
  color: $black;
}

.text {
  display: -webkit-box;

  max-width: $text-width;
  height: $text-height;
  padding: 0;
  margin: 0;
  overflow: hidden;

  font-size: $font-size-s;
  line-height: $line-height-m;
  color: $gray;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;

}

.info {
  display: flex;

  flex-direction: column;
}

.dateTimeText {
  display: flex;

  justify-content: flex-end;

  padding: 0;
  margin: 0 0 $spacing-ml 0;

  font-size: $font-size-xxs;
  line-height: $title-line-height-s;
  color: $gray;
  white-space: nowrap;
}

.notification {
  width: $notification-size;
  height: $notification-size;
  padding: $spacing-3xs;

  background: $blue;
  border-radius: 50%;
}

.notificationText {
  font-size: $font-size-xs;
  line-height: $line-height-s;
  color: $white;
  text-align: center;
}

.avatar {
  width: $avatar-width;
  height: $avatar-width;

  background-color: $dark-gray;
  border-radius: 50%;
}

