@import url("../../styles/_colors.css");
@import url("../../styles/_spacings.css");
@import url("../../styles/_sizes.css");

.container {
  display: flex;

  justify-content: space-between;

  width: 100%;

  border-bottom: 1px solid $medium-gray;

  &:last-of-type {
    margin-bottom: $spacing-5xl;

    border: 0;
  }
}

.containerUserFrom {
  flex-direction: column;

  margin-bottom: $spacing-mxl;

  border-bottom: 1px solid $blue;

  &:last-of-type {
    margin-bottom: $spacing-4xl;

    border: 0;
    border-bottom: 1px solid $blue;
  }
}

.input {
  color: $gray;
  text-align: right;

  cursor: pointer;

  border: 0;
  outline: 0;


  &::placeholder {
    text-align: right;
  }

  &:focus {
    &::placeholder {
      color: transparent;
    }
  }

  &.inputUserForm {
    padding: 0 0 $spacing-xxs 0;

    color: $black;
    text-align: left;
  }
}


.text {
  padding: $spacing-s 0;
  margin: 0;

  font-size: $font-size-m;
  line-height: $title-line-height-s;

  &.labelUserForm {
    padding: 0;
    margin-bottom: $spacing-xxs;

    font-size: $font-size-xxs;
    line-height: $line-height-xxs;
    color: $gray;


  }
}

.fieldName {
  color: $black;
}

.fieldValue {
  color: $gray;
}
