@import url('../../styles/_colors.css');
@import url('../../styles/_sizes.css');
@import url('../../styles/_spacings.css');


.container {
    position: fixed;

    padding: $spacing-ml;

    background: $white;
    border-radius: 12px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .14);
}

.text {
    font-size: $font-size-s;
    line-height: $title-line-height-m;
    color: $black;

    pointer-events: none;

}

.iconContainer {
    width: 22px;
    height: 22px;

    pointer-events: none;
}

.lineContainer {
    display: flex;

    gap: $spacing-l;

    align-items: center;

    margin-bottom: $spacing-lm;

    cursor: pointer;

    &:last-child {
        margin-bottom: 0;
    }
}
