@import url("../../styles/_colors.css");
@import url("../../styles/_spacings.css");
@import url("../../styles/_sizes.css");

.link {
    padding: $spacing_s 0;
    border-bottom: 1px solid $medium_gray;
    color: $blue;
    font-size: $font_size_m;
    line-height: $title_line_height_s;
    text-decoration: none;

    &:last-child {
        border: 0;
    }
}

.red {
    color: $red;
}